<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>challenges</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
            padding: 10px;
            height: 60px;
            vertical-align: top
        }
    </style>
</head>
<body>
{% for team in teams %}
<table width="100%">
    <tr>
        <td width="170">TEAM NAME</td>
        <td>{{ team.team_name }}</td>
    </tr>
    <tr>
        <td>TEAM TABLE NUMBER</td>
        <td>{{ team.team_table_number }}</td>
    </tr>
    <tr>
        <td>SHORT DESCRIPTION</td>
        <td>
            {% autoescape false %}{{- team.short_description }}{% endautoescape %}
        </td>
    </tr>
    <tr>
        <td>TEAM LEAD NAME</td>
        <td>{{ team.team_lead_name }}</td>
    </tr>
    <tr>
        <td>TEAM LEAD CONTACT DETAILS</td>
        <td>{% autoescape false %}{{ team.team_lead_contact_details }}{% endautoescape %}</td>
    </tr>
    <tr>
        <td>OPEN TO ADDITIONAL PEOPLE JOINING?</td>
        <td>{{ team.open_to_additional_people_joining }}</td>
    </tr>
    <tr>
        <td>CHALLENGE (-S)</td>
        <td>
            {% autoescape false %}{{- team.challenges|replace('\n', '<br>') }}{% endautoescape %}
        </td>
    </tr>
</table>
<p style="page-break-after: always;">&nbsp;</p>
<p style="page-break-before: always;">&nbsp;</p>
{% endfor %}
</body>
</html>